.root {
  padding: 12px 17px 12px 19px;
  background: #eaf0fa;
  border-radius: 48px;
  display: flex;
  align-items: center;
  width: 325px;
  position: absolute;
  top: -25px;
  left: 0;
}

.time {
  margin-right: 12px;
}

.progress {
  background: #adbfdf;
  border-radius: 50px;
  height: 4px;
  width: 164px;
  margin: 0 18px 0 8px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.progress_completion {
  transition: all 0.2s ease;
  height: 4px;
  background: #002cfb;
  border-radius: 50px 0px 0px 50px;
}
